.card-wrapper {
  width: 350px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px 15px 25px 15px;
}

.card-img {
  width: 350px;
}

.card-img > img {
  width: 100%;
}

.tag-green {
  background: #62ab77;
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  margin: 15px 0;
}

.tag-orange {
  background: orange;
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 20px;
  color: #fff;
  margin: 15px 0;
}

.card-texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-texts-top {
  display: flex;
  justify-content: space-between;
}

.card-texts-top > p {
  font-size: 14px;
  margin: 0;
}

.card-texts-top > p:first-child {
  width: 60%;
  margin: 0;
}

.card-texts-top > p:last-child {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.card-p {
  font-size: 14px;
  margin: 0;
}
