.card-wrapper {
    margin-top: 150px;
    /* margin-left: 200px; */
   
    box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.19);
    border-radius: 20px;

    width: 400px;
    height: 420px;

    line-height: 30px;
    font-size: 12px;
}

.card-section {
    margin-left: 10px;
}

.house {
    width: 390px;
    height: 290px;
   
}

.send {
    margin-left: 85px;
    text-decoration: underline;
}

.flat-owner{
    background-color: aqua;
    width: 80px;
    border-radius: 50px;

    text-align: center ;
}


