.listing{
    margin-top: 50%;
}

.background{
    width: 377px;
    height: 413px;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
}

img {
    margin-left: 9px;
    margin-top: 9px;
}

.listFooter{
    /* border: 1px solid blue; */

    display: flex;
    flex-direction: column;
    gap: 9px;

    font-size: 12px;

    margin-left: 5px;
}

.flat {
    margin-left: 110px;
    text-decoration: underline;
}