
:root {
    --primary-color: #2289FF;
    --secondary-color: #314862;
}

.locations-section{
    display: flex;
  justify-content: space-between;
    width: 50vw;


    position: relative;
    top: 100px;
    right: 10px; 
}

.img-location{
    position: relative;
    top: 190px;

    width: 100px;
    height: 100px;
}

.location-1 {
 font-size: 10px;
 color: var(--primary-color);
    position: relative;
    top: 300px;
    right: 10px;
}

.location-2 {
    position: relative;
    top: 290px;
    right: 10px;

    color:  #193F6A;;
}

.locations-venue{
    position: relative;
    top: 290px;

    display: flex;
    justify-content: space-between;
    width: 53vw;

    font-size: 10px;
}

.ikoyi {
    position: relative;
    right: 40px;
}

.amadi {
        position: relative;
        right: 40px;  
}

