
:root {
    --primary-color: #2289FF;
    --secondary-color: #314862;
}

.locations-section{
    display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 130px;
    width: 50px;


    /* position: relative;
    top: 100px;
    right: 10px;  */


    gap: 50px;
}

.venue {
    font-size: 18px;
}

.img-location{
    position: relative;
    top: 190px;

    width: 250px;
    height: 250px;
}

.location-1 {
 /* font-size: 10px; */
 color: var(--primary-color);
    position: relative;
    top: 300px;
    right: 10px;
}

.location-2 {
    position: relative;
    top: 290px;
    right: 10px;

    color:  #193F6A;;
}

.locations-venue{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-between;
    width: 89vw;
    font-size: 8px;
}

.ikoyi {
    position: relative;
    right: 40px;
}

.amadi {
        position: relative;
        right: 40px;  
}

